@import "panel-1.css";
@import "panel-2.css";
@import "panel-3.css";
@import "panel-4.css";
@import "panel-5.css";

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#app-container{

  display: flex;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #333 ,#000000);

}

.panel{
  height: 100vh;
  width: 20vw;
  transition: 1s;
  border: 0.1vw solid rgba(180,180,180,0.2);
  transition: 1s;
}


.home .icon{
  font-size: 8vw;
  margin: auto;
  color: white;
  position: relative;
  left: 6.5vw;
  display: inherit;
  top: 40vh;
  text-shadow: 0.3vw 0.8vw 4vw rgba(45,45,45,0.5);
}
 .icon{
   display: none;
 }

.panel:hover{
background: radial-gradient(circle, #fff ,#ccc);

}

.shadow-box:hover .icon{
  animation: bounce 1.5s infinite;
}
.shadow-box:hover .panel{
  background: radial-gradient(circle, #fff ,#ccc);
}

.panel:hover .icon{
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100%{
    top:40vh;
  }
  50%{
    top: 35vh;
  }
}

.shadow-box{
  width: 100%;
  height: 100%;

}
