.panel-3{
  background: url("../images/pexels-photo-110055.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-3{
  /*color: #DD4436;*/
}

.panel:hover .icon-3{
  color: #DD4436;
}
