.panel-2{
  background: url("../images/pexels-photo-47426.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:hover .icon-2{
  color: #2C3E50;
}
