.panel-2{
  background: url("../images/pexels-photo-47426.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:hover .icon-2{
  color: #2C3E50;
}

.sel-2 .panel{
  width: 10vw;
}
.sel-2 .panel-2:hover{
  background: url('../images/pexels-photo-47426.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sel-2 .panel-1{
  transform: skewY(-20deg) rotateY(5deg);
  height: 95vh;
  align-self: center;
  position: relative;
  right: 3vw;
  z-index: 2;
}
.sel-2 .panel-1 .shadow-box{
  background: linear-gradient(to left, rgba(25,25,25,0.9), rgba(0,0,0,0))
}
.sel-2 .panel-2 .panel-content .bar-1{
  background: white;
  width: 115%;
  height: 20vh;
  position: relative;
  top: -12vh;
  transform: rotate(10deg);
  transition: 2s;
}
.sel-2 .panel-2 .panel-content .bar-2{
  background: white;
  left: -2vh;
  width: 115%;
  height: 20vh;
  position: relative;
  top: -30vh;
  transform: rotate(-6deg);
  transition: 2s;
}
.sel-2 .panel-2 .panel-content .top{
  background: linear-gradient(to bottom, #ECECEC, #fff,#fff);
  /*background: white;*/
  width: 100%;
  height: 60vh;
  transition: 1s;
}
.sel-2 .panel:hover .hover-text{
  display: none;
}

.sel-2 .panel-2{
  width: 100vw;
  overflow: hidden;
  margin: auto -5vw;
  align-self: center;
  height: 98vh;
  z-index: 4;
}
.sel-2 .panel-2 .shadow-box{
  display: none;
}

.sel-2 .panel-3{
  transform: skewY(20deg) rotateY(-5deg);
  height: 95vh;
  align-self: center;
  position: relative;
  left: 3vw;
  z-index: 3;
}
.sel-2 .panel-3 .shadow-box{
  background: linear-gradient(to right, rgba(25,25,25,0.9), rgba(0,0,0,0))
}

.sel-2 .panel-4{
  transform: skewY(20deg) rotateY(-5deg);
  height: 90vh;
  position: relative;
  z-index: 2;
}

.sel-2 .panel-4 .shadow-box{
  background: linear-gradient(to right, rgba(25,25,25,0.9), rgba(0,0,0,0))
}
.sel-2 .panel-5{
  transform: skewY(20deg) rotateY(-5deg);
  height: 85vh;
  position: relative;
  left: -3vw;
  z-index: 1;
}

.sel-2 .panel-5 .shadow-box{
  background: linear-gradient(to right, rgba(25,25,25,0.9), rgba(0,0,0,0))
}

.sel-2 .panel-2 .content{
  position: relative;
  top: -100vh;
  text-align: center;
  display: inherit;
  overflow-y: scroll;
  transition: 1.5s;
}

.sel-2 .panel-2 .content .header{
  font-size: 4vw;
}

.sel-2 .panel-2 .content .subtext{
  padding: 0 15vw;
}

.sel-2 .panel-2 .proj-holder{
  width: 100%;
  transition: 1.5s;

}

.sel-2 .panel-2 .proj-row{
  width: 100%;

}

.sel-2 .panel-2 .proj-box{
  display: inline-block;
  width: 20%;
  margin: 2% 4%;
  height: 25vh;
}
.sel-2 .panel-2 .proj-box *{
  display: none;
}

.sel-2 .panel-2 .proj-box:hover .box1{
  background-color: #2C3E50;
}
.sel-2 .panel-2 .proj-box:hover *{
  display: inherit;
}

.sel-2 .panel-2 .seeMore{
  color: white;
  /*border: 2px solid white;*/
  margin: auto;
  margin-top: 2vh;
  cursor: pointer;
  width: 10%;
  text-decoration: none;
}
.sel-2 .panel-2 .seeMore a{
  color: white;

  text-decoration: none;
}

.sel-2 .panel-2 .seeMore:hover{
  text-decoration: underline;
}

.sel-2 .panel-2 .proj-row .box1{
  background: url("../images/Screen Shot 2017-01-17 at 9.16.21 AM.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sel-2 .panel-2 .proj-row .box2{
  background: url("../images/Screen Shot 2017-01-17 at 9.14.39 AM.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sel-2 .panel-2 .proj-row .box3{
  background: url("../images/cliqueUpAuth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sel-2 .panel-2 .proj-row .box4{
  background: url("../images/Screen Shot 2017-01-17 at 9.13.01 AM.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
