.panel-5{
  background: url("../images/city-love-rainbow-nyc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel:hover .icon-5{
  color: #FBB91D;
}
.sel-5 .panel:hover .hover-text{
  display: none;
}

.sel-5 .panel{
  width: 10vw;
}
.sel-5 .panel-5:hover{
  background: url('../images/city-love-rainbow-nyc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sel-5 .panel-5{
  width: 100vw;
  margin: auto -5vw;
  align-self: center;
  height: 98vh;
  z-index: 5;
  overflow: hidden;
}
.sel-5 .panel-5 .shadow-box{
  display: none;
}
.sel-5 .panel-5 .panel-content .bar-1{
  background: white;
  width: 110%;
  height: 20vh;
  position: relative;
  top: -12vh;
  transition: 1.5s;
  transform: rotate(10deg);
}
.sel-5 .panel-5 .panel-content .bar-2{
  background: white;
  width: 110%;
  height: 20vh;
  position: relative;
  left: -2vw;
  top: -30vh;
  transform: rotate(-6deg);
  transition: 1.5s;

}
.sel-5 .panel-5 .panel-content .top{
  background: white;
  /*background: white;*/
  width: 100%;
  height: 30vh;
  transition: 1.5s;
}

.sel-5 .panel-4{
  transform: skewY(-20deg) rotateY(5deg);
  height: 95vh;
  align-self: center;
  position: relative;
  left:-3vw;
  z-index: 4;
}
.sel-5 .panel-4 .shadow-box{
  background: linear-gradient(to left, rgba(25,25,25,0.9), rgba(0,0,0,0))
}

.sel-5 .panel-3{
  transform: skewY(-20deg) rotateY(5deg);
  height: 90vh;
  position: relative;
  z-index: 3;
}

.sel-5 .panel-3 .shadow-box{
  background: linear-gradient(to left, rgba(25,25,25,0.9), rgba(0,0,0,0))
}
.sel-5 .panel-2{
  transform: skewY(-20deg) rotateY(5deg);
  height: 85vh;
  position: relative;
  left: 2vw;
  z-index: 2;
}

.sel-5 .panel-3 .shadow-box{
  background: linear-gradient(to left, rgba(25,25,25,0.9), rgba(0,0,0,0))
}
.sel-5 .panel-1{
  transform: skewY(-20deg) rotateY(5deg);
  height: 80vh;
  position: relative;
  left: 5vw;
  z-index: 1;
}

.sel-5 .panel-1 .shadow-box{
  background: linear-gradient(to left, rgba(25,25,25,0.9), rgba(0,0,0,0))
}
